*{
    font-family: 'Lexend', sans-serif;
    margin:auto;
}

    
.photoCoder{
    height: 150px;
    width:  150px;  
    margin-left: 50px;
}
.dataTable{
    color: white;
    background-color: #2DC369;
    margin: 50px 50px;
    
}
h2,p{
margin-left: 50px;
margin-right: 50px;
}

.logo{
    height: 150px;
    width: 150px;
    margin-left: 50px;
}